@model IEnumerable<SSWProject.Models.Listing>
@using SSWProject.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Listing", "Create")
</p>
@using (Html.BeginForm())
{
<p>
    Province: @Html.TextBox("provinceSearch")
    City: @Html.TextBox("citySearch")
    Number of Beds: @Html.TextBox("numbOfBedSearch")
    Number of Baths: @Html.TextBox("numOfBedSearch")
    View Order: @Html.TextBox("sortOrder")
    <input type="submit" value="Search" />
</p>
}
@foreach (var item in Model)
{

    <div class="gallery">
        @if (item.Files.Any(f => f.FileType == FileType.Avatar))
        {
            <picture>
                <source media='(min-width: 401px)'
                        srcset='images/@item.Files.First(f => f.FileType == FileType.Avatar).FileName' />
                <source media='(max-width: 400px)'
                        srcset='images/@item.Files.First(f => f.FileType == FileType.Avatar).FileName' />
                <img src="~/content/images/@item.Files.First(f => f.FileType == FileType.Avatar).FileName" alt="image-not-available" style="width:70%;" />
            </picture>
        }
        <table class="table-index">
            <tr>
                <td>
                    $@Html.DisplayFor(modelItem => item.SalesPrice)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetAddress)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipality)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ListingID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ListingID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ListingID })
                </td>
            </tr>
        </table>
    </div>
}
@**
    <table class="table-index">
        <tr>
            <th>
                @Html.Label("Image")
            </th>
            <th>
                @Html.Label("Sales Price")
            </th>
            <th>
                @Html.Label("Street Address")
            </th>
            <th>
                @Html.Label("Municipality")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @if(item.Files.Any(f => f.FileType == FileType.Avatar))
                {
                    <td>
                        <img src="~/File?id=@item.Files.First(f => f.FileType == FileType.Avatar).FileID" alt="avatar" style="width:30%;" />
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.SalesPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipality)
                </td>

            </tr>
        }

    </table>
*@

@*
        @foreach (var item in Model)
        {
    <dl class="dl-horizontal">
        @if (item.Files.Any(f => f.FileType == FileType.Avatar))
        {
            <dd>
                <img src="~/File?id=@item.Files.Last(f => f.FileType == FileType.Avatar).FileID" alt="avatar" style="width:30%;" />
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.SalesPrice)
        </dt>

        <dd>
            @Html.DisplayFor(Model => item.SalesPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(Model => item.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipality)
        </dt>

        <dd>
            @Html.DisplayFor(Model => item.Municipality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaOfCity)
        </dt>

        <dd>
            @Html.DisplayFor(Model => item.AreaOfCity)
        </dd>

        <dt>
            @Html.ActionLink("Edit", "Edit", new { id = item.ListingID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ListingID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ListingID })
        </dt>
    </dl>
        }
*@


