@model IEnumerable<SSWProject.Models.Agent>
@using SSWProject.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
<div class="gallery">
    @if (item.files.Any(f => f.FileType == FileType.Avatar))
    {
        <picture>
            <source media="(min-width: 401px)"
                    srcset="images/@item.files.First(f => f.FileType == FileType.Avatar).FileName" />
            <source media="(max-width: 400px)"
                    srcset="images/@item.files.First(f => f.FileType == FileType.Avatar).FileName" />
            <img src="SSWProject/content/images/@item.files.First(f => f.FileType == FileType.Avatar).FileName" alt="image-not-available" style="width:70%;" />
        </picture>

    }
    <table class="table-index">
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
                @Html.DisplayFor(modelItem => item.MiddleName)
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeEmail)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OfficePhone)
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AgentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AgentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AgentID })
            </td>
        </tr>
    </table>
</div>
}
@**
        <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AgentID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AgentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AgentID })
                </td>
            </tr>
        }

    </table>


*@
