<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/Styles.css")
    <link href="https://fonts.googleapis.com/css?family=B612&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="topnav" id="myTopnav">
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("Agents", "Index", "Agents")
        @Html.ActionLink("Listings", "Index", "Listings")
        @Html.ActionLink("Showings", "Index", "Showings")
        @Html.ActionLink("Login", "Login", "Home")
        @Html.Partial("_LoginPartial")
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        
    </div>
    @RenderBody()
</body>

</html>
